@model ProjectsNetwork.Models.ViewModels.EmailModel
@{
}
    <div class="bg-dark text-white" style="border-radius:1rem !important; padding: 2rem !important;">
        <form id="projectPost" method="post" action="/User/Communication/SendEmail">
            <div class="form-group">
                <label>To:</label>
                <input type="text" class="form-control" asp-for="email" value="@Model.email" required>
            </div>
            <div class="form-group">
                <label>Suject:</label>
                <input type="text" class="form-control" asp-for="subject" placeholder="Subject for your message" required>
            </div>
            <div class="form-group">
                <label>Message</label>
                <textarea type="text" class="form-control" asp-for="htmlMessage" placeholder="Send your message. IMPORTANT: Include your contact information" rows="6" required></textarea>
            </div>
            

            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-light">Send Email</button>
        </form>
    </div>