@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="font-family: Impact, Charcoal, sans-serif">WELCOME</h1>
    <h2 class="display-4" style="font-family: Impact, Charcoal, sans-serif">TO PROJECTSNETWORK</h2>
</div>
