@model ProjectsNetwork.Models.Project;
@{

    Layout = "_Layout";
    ViewData["Title"] = Model.Name;
}
    <script>
        function post(c) {
            alert("I have not yet done this part, lol")
            window.location.href = '@Url.Action("Index", "Posts")';
        }
        
    </script>
    <div class="container ">
        <div class="row" style="margin-top: 2%; margin-bottom: 2%">
            <div class="col-2 offset-md-10">
                
                <button type="button" class="btn btn-dark" onclick="post()">REQUEST TO JOIN</button>
            </div>
        </div>


        <h1 class="text-center" style = "text-transform:uppercase;">@Model.Name</h1>
        <div class="container p-3 mb-2 bg-dark text-white rounded ">
            <h4>DESCRIPTION:</h4>
            <div class="row">
                <div class="col">
                    <p>@Model.Description</p>
                </div>
            </div>
            <h4>PREFERED SKILLS:</h4>
            <div class="row">
                <div class="col">
                    <p>@Model.PrefferedSkills</p>
                </div>
            </div>
            <h4>TOPICS:</h4>
            <div class="row">
                <div class="col">
                    <p>AREAS OF INTEREST...Wher is this at??</p>
                </div>
            </div>
        </div>
        
     
        
        


    </div>


