@model Tuple<List<Skill>, List<Skill>>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Skills";
}
@section scripts{
    <script>
        $(document).ready(function () {
            $("div.other").hide();
            $('input[type="radio"]').click(function () {
                $("#other").show();
            });
            

        });
    </script>
}


<h4>My Skills</h4>
<div class="text-white bg-dark" style="border-radius:1rem !important; padding: 2rem !important;">
    @if (Model.Item2 != null)
    {
        <ul>
            @foreach(var skill in Model.Item2){
                <li>@skill.SkillName</li>
            }
        </ul>
    }
    else
    {
        <h3>You don't have any skills added</h3>
    }
</div>
<h3>Add New Skills</h3>
<form id="skillPost" asp-action="Post" class="bg-dark text-white" style="border-radius:1rem !important; padding: 2rem !important;">

    <div class="form-group text-dark">
        <h2 class="text-white">Choose Your Skills</h2>
        <select class="js-example-responsive" name="skills" multiple="multiple" style="width:100%;">
            <option value="0">None</option>
            @if (Model.Item1 != null)
            {
                foreach (var skill in Model.Item1)
                {
                    <option value="@skill.Id">@skill.SkillName</option>
                }
            }
        </select>
    </div>
    <div class="form-group text-dark">
        <label class="text-white">
            <input type="radio" name="colorRadio"
                   value="other"> Other
        </label>
        <div class="other text-white" id="other">
            <h5>Add new skills</h5>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" id="newSkill"style="margin-right: 3rem !important" placeholder="Enter a skill and click add" />
                </div>
                <div class="col">
                    <input type="button" class="btn btn-light" value="Add New"/>
                </div>
            </div>
              
        </div>
    </div>




    <button type="submit" class="btn btn-light">Add Skills</button>
</form>

