@model List<ProjectsNetwork.Models.Skill>;
@{
    ViewData["Title"] = "Skills";
}


<h4>My Skills</h4>

<h3>Add New Skills</h3>
<form id="skillPost" asp-action="Post" class="bg-dark text-white" style="border-radius:1rem !important; padding: 2rem !important;">
    
    <div class="form-group text-dark">

        <select class="js-example-responsive" name="skills" multiple="multiple" style="width:100%;">
            <option value="0">None</option>
            @if (Model != null)
            {
                foreach (var skill in Model)
                {
                    <option value="@skill.Id">@skill.SkillName</option>
                }
            }
        </select>
    </div>



    <button type="submit" class="btn btn-light">Post Project</button>
</form>

